 @import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto+Condensed&display=swap');

:root {
    --main-color: black;
    --secondary-color: blue;
    background-color:beige;
    font-family: 'Bebas Neue', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto;
}

h1{
    margin: 0;
    padding: 0;
}

header nav .logo {
    font-family: 'Bebas Neue', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
}

header nav .top-menu {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 0;
    margin: auto;
    list-style-type: none;
}

header nav .top-menu a {
    text-decoration: none;
    border: 2px solid transparent;
    padding: 5px;
}

@media (min-width: 550px) {
    header nav {
        display: flex;
    }

    header nav .top-menu {
        flex: 1;
    }
}

header nav .top-menu a:hover {
    border: 1px solid var(--main-color);
}

header div {
    background-image: url(../image/main-logo.jpg);
    background-position: center;
    background-size: cover;
    min-height: 550px;
    width: 100%;
}

header .banner {
    display: center;
    justify-content: center;
    align-items: center;
    flex-direction: flex;
}

header .banner .title {
    font-size: 130%;
    font-family: 'Bebas Neue', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    text-transform: uppercase;
    padding: 5em 0;
    text-align: center;

}